---
import { Icon } from "astro-icon/components";
---

<div
  class="card-blacki border-off-white/10 group flex items-center justify-between gap-3 border border-solid px-4 py-4"
>
  <Icon
    name="ic:round-alternate-email"
    class="text-star text-lg group-hover:animate-pulse"
  />
  <a
    href="mailto:aafif.mhd@gmail.com"
    target="_blank"
    class="hover:text-star text-end transition-colors duration-500 ease-out"
  >
    aafif.mhd@gmail.com
  </a>
</div>
