---
import { Icon } from "astro-icon/components";
---

<div
  class="card-blacki px-4 py-4 border border-solid border-off-white/10 flex justify-between items-center gap-2"
>
  <Icon
    name="ic:round-alternate-email"
    class="text-star text-lg group-hover:animate-pulse"
  />
  <a
    href="mailto:aafif.mhd@gmail.com"
    target="_blank"
    class="text-end transition-colors duration-500 ease-out hover:text-star"
  >
    aafif.mhd@gmail.com
  </a>
</div>
