---
import Email from "./Email.astro";
import Profile2 from "./Profile2.astro";
import { Icon } from "astro-icon/components";
const profileLinks = [
  {
    href: "https://www.instagram.com/nonieck_/",
    label: "Instagram",
    icon: "cib:instagram",
  },
  {
    href: "https://www.linkedin.com/in/mhdafif/",
    label: "LinkedIn",
    icon: "cib:linkedin",
  },
  { href: "https://github.com/mhdafif", label: "GitHub", icon: "cib:github" },
];
---

<section class="flex flex-col gap-3">
  <div class="laptop:h-[478px]">
    <Profile2 />
  </div>

  <div class="flex items-center justify-between gap-3">
    <div class="laptop:grow w-full">
      <Email />
    </div>
    <div class="flex gap-3">
      {
        profileLinks.map((link) => (
          <a
            href={link.href}
            target="_blank"
            class="group bg-transparent transition-all duration-300 ease-out hover:-translate-y-1"
            aria-label={link.label}
          >
            <Icon
              name={link.icon}
              class="text-off-white/60 group-hover:text-star text-3xl transition-all duration-300 ease-out"
            />
          </a>
        ))
      }
    </div>
  </div>
</section>
