<footer
  class="laptop:absolute laptop:flex-row bottom-0 left-0 flex w-full flex-col items-center justify-between gap-2 px-6 pb-2 text-center"
>
  <p class="text-off-white/50 text-sm">
    &copy; {new Date().getFullYear()}
    <span class="dark:text-star font-medium">Mhd Afif</span>. All rights
    reserved.
  </p>
</footer>
