---
import Tooltip from "@/components/Tooltip.astro";
---

<div
  class="shortcut-key laptop:flex border-star group absolute bottom-2.5 left-1/2 hidden -translate-x-1/2 items-center justify-center rounded-full border-2 border-solid p-0.5"
>
  <div
    class="bg-star h5 border-star relative aspect-square w-5 cursor-default rounded-full border border-solid duration-500 ease-out group-hover:animate-pulse"
  >
  </div>
  <Tooltip content="Available for Freelance" />
</div>
