---
import Tooltip from "@/components/Tooltip.astro";
---

<div
  id="indicator-lamp"
  class="shortcut-key laptop:flex border-star/10 group on pointer-events-none absolute bottom-2.5 left-1/2 hidden -translate-x-1/2 items-center justify-center rounded-full border-2 border-solid p-0.5 transition-all duration-1000 ease-in-out"
>
  <div
    id="indicator-inner-lamp"
    class="bg-star/10 h5 relative aspect-square w-5 cursor-default rounded-full transition-all duration-1000 ease-in-out group-hover:animate-pulse"
  >
  </div>
  <Tooltip content="Available for Freelance" />
</div>

<style lang="scss">
  #indicator-lamp.on {
    border-color: var(--color-star);
    pointer-events: auto;
    box-shadow:
      0 0 2px var(--color-star),
      0 0 2px var(--color-star) inset;

    #indicator-inner-lamp {
      background-color: var(--color-star);
    }
  }
</style>
