---
import { Icon } from "astro-icon/components";
---

<div class="laptop:block absolute right-8 -bottom-2 hidden">
  <!-- <div class="flex gap-2 pr-10"> -->
  <div class="flex gap-2">
    <!-- <div
      id="theme-btn"
      class="group cursor-pointer transition-all duration-500 ease-in-out"
    >
      <Icon
        name="ic:round-wb-sunny"
        class="text-off-white/40 mx-auto mb-1 text-lg"
      />
      <div
        class="bg-star group-hover:shadow-star-glow h-1 w-6 rounded-b-xs transition-all duration-300 ease-out group-hover:animate-pulse"
      >
      </div>
    </div> -->
    <div
      id="power-btn"
      class="group cursor-pointer transition-all duration-500 ease-in-out"
    >
      <Icon
        name="ic:round-power-settings-new"
        class="text-off-white/40 mx-auto mb-1 text-lg"
      />
      <div
        class="bg-star group-hover:shadow-star-glow h-1 w-6 rounded-b-xs transition-all duration-300 ease-out group-hover:animate-pulse"
      >
      </div>
    </div>
  </div>
  <!-- <div
    id="power-lamp"
    class="bg-off-white/10 absolute right-0 bottom-4 h-2 w-7 rounded-xs transition-all duration-500 ease-in-out on"
  >
  </div> -->
</div>

<style lang="scss">
  #power-lamp.on {
    background-color: var(--color-off-white);
    box-shadow:
      0 0 8px var(--color-off-white),
      0 0 8px var(--color-off-white) inset;
  }

  #power-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
</style>
