---
import About from "./About.astro";
import Language from "./Language.astro";
import Stack from "./Stack.astro";
---

<section class="flex flex-col gap-3">
  <div class="laptop:h-[478px] flex flex-col laptop:grid grid-rows-5 gap-3">
    <div class="row-span-2">
      <About />
    </div>
    <div class="row-span-3">
      <Stack />
    </div>
  </div>
  <div class="hidden laptop:block">
    <Language />
  </div>
</section>

<style lang="scss"></style>
