---
import About from "./About.astro";
import Language from "./Language.astro";
import Navbar from "./Navbar.astro";
---

<section class="flex flex-col gap-3">
  <About />
  <Navbar />
  <Language />
</section>

<style lang="scss"></style>
