---
import { Icon } from "astro-icon/components";
import myCV from "@/assets/muhammad afif - CV.pdf";
const currentPath = new URL(Astro.request.url).pathname;
const navLinks = [
  // { href: "/one-page", label: "Hi," },
  { href: "#", label: "About" },
  { href: "#", label: "Experience" },
  { href: "#", label: "Project" },
  { href: "#", label: "Contact" },
];
---

<nav
  class="card-blacki border-off-white/10 w-full space-y-6 border border-solid py-4"
>
  <div class="w-fit place-self-center px-6">
    <h1 class="typewriter-once-end text-3xl font-bold capitalize">Hello!</h1>
  </div>
  <ul class="nav-wrapper flex flex-col gap-4" aria-label="nav-one-page">
    {
      navLinks.map((link, index) => (
        <li
          aria-disabled={currentPath === link.href}
          class="nav-item dark:bg-blacki group aria-disabled:bg-star aria-disabled:!text-blacki relative cursor-pointer overflow-hidden px-6 py-2 transition-all duration-300 ease-in-out aria-disabled:pointer-events-none"
        >
          <a
            href={link.href}
            aria-disabled={currentPath === link.href}
            class={`relative flex items-center justify-between overflow-hidden text-lg font-semibold`}
          >
            <span>{link.label}</span>
            {currentPath !== link.href && (
              <span class="text-off-white/60 border-off-white/60 aspect-square w-5 rounded-xs border border-solid text-center text-sm font-medium">
                {index + 1}
              </span>
            )}
          </a>
        </li>
      ))
    }
  </ul>

  <div class="px-6 pb-2">
    <a
      class="dark:bg-star dark:text-blacki rounded-5 group hover:shadow-star-glow flex w-full cursor-pointer items-center justify-between gap-1.5 px-3.5 py-1.5 font-semibold transition-all"
      download
      href={myCV}
    >
      <span class="text-lg">Download CV</span>
      <div class="relative h-5 w-5 overflow-hidden">
        <Icon
          name="ic:round-download"
          class="absolute -top-6 right-0 h-5 w-5 transition-all duration-400 group-hover:top-0"
        />
        <Icon
          name="ic:round-download"
          class="absolute top-0 right-0 h-5 w-5 transition-all duration-400 group-hover:top-6"
        />
      </div>
    </a>
  </div>
</nav>

<style lang="scss">
  .typewriter-once-end {
    overflow: hidden;
    border-right-width: 0.15em;
    border-right-style: solid;
    border-color: transparent;
    // border-right: 0.15em solid var(--color-star);
    letter-spacing: 0.15em;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;

    animation:
      typing-once 1s steps(10, end),
      hide-caret-once-end 1.5s step-end;
  }

  @keyframes hide-caret-once-end {
    // from,
    // to {
    //   border-color: transparent;
    // }
    0% {
      border-color: orange;
    }
    33% {
      border-color: transparent;
    }
    67% {
      border-color: orange;
    }
    100% {
      border-color: transparent;
    }
  }

  // .typewriter-once {
  //   animation:
  //     typing-once 1s steps(10, end),
  //     hide-caret-once-end 1s step-end;
  // }

  .nav-item {
    &::before {
      content: "";
      position: absolute;
      background: var(--color-star);
      height: 100%;
      width: 1.015rem;
      top: 0;
      left: 0;
      border-radius: 0 4px 4px 0;
      box-shadow: 0 0 40px var(--color-star);
      -webkit-transition: transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
    &:hover::before,
    &:hover::after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 2rem;
      top: 0;
      right: 0;
      background: linear-gradient(
        to left,
        rgba(231, 187, 103, 0.2) 0%,
        rgba(231, 187, 103, 0) 100%
      );
      -webkit-transition: transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: right;
      transform-origin: right;
    }
  }
</style>
