---
import { Icon } from "astro-icon/components";
const profileLinks = [
  {
    href: "https://www.instagram.com/nonieck_/",
    label: "Instagram",
    icon: "cib:instagram",
  },
  {
    href: "https://www.linkedin.com/in/mhdafif/",
    label: "LinkedIn",
    icon: "cib:linkedin",
  },
  { href: "https://github.com/mhdafif", label: "GitHub", icon: "cib:github" },
];
---

<div class="card-blacki px-4 py-4 border border-solid border-off-white/10">
  <ul class="social-wrapper flex gap-5 justify-between items-center">
    {
      profileLinks.map((link) => (
        <li class="social-item">
          <a href={link.href} target="_blank">
            <Icon name={link.icon} class="w-7 h-7" />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .social-item {
    /* animation: throb 1s infinite alternate ease-out; */
    /* animation-name: throb;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out; */

    transition:
      transform 0.5s ease-out,
      color 0.3s ease-in-out;

    &:hover {
      color: var(--color-star);
      transform: scale(1.2);
    }

    /* &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    } */
  }
</style>
