---
import Location from "../MiddleSection/Location.astro";
import Experience from "./Experience.astro";
---

<section class="flex flex-col gap-3">
  <Experience />
  <Location />
</section>

<style lang="scss"></style>
