@import "tailwindcss";

@import "./utilities.carousel.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-uv-green: #4caf50;
  --color-off-white: #faf9f6;
  --color-off-black: #212121;
  --color-blacki: #141d26;
  --color-charcoal: #1e293b;
  --color-slate: #243447;
  --color-gunmetal: #2a3b4c;
  --color-graphite: #2c2f36;
  --color-deep-gray: #1f2937;
  --color-dark-shadow: rgba(255, 255, 255, 0.03);
  --color-star: #e7bb67;

  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-30: 30px;
  --radius-50: 50px;

  --breakpoint-laptop: 1024px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 480px;

  --shadow-star-glow:
    0 0 8px var(--color-star), 0 0 8px var(--color-star) inset;
  --shadow-charcoal-glow:
    0 0 8px var(--color-charcoal), 0 0 8px var(--color-charcoal) inset;
  --shadow-blacki-glow:
    0 0 8px var(--color-blacki), 0 0 8px var(--color-blacki) inset;
  --shadow-off-white-glow:
    0 0 8px var(--color-off-white), 0 0 8px var(--color-off-white) inset;
}

* {
  font-family: "Ubuntu", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  @apply scroll-smooth;
}
::selection {
  background: var(--color-blacki);
  color: var(--color-star);
}

.snap-x-items-list {
  @apply snap-x snap-mandatory overflow-x-auto scroll-smooth;
  -webkit-overflow-scrolling: touch;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.shadow-dark {
  @apply shadow-[0_6px_12px_rgba(0,0,0,0.1)];
}

.flex-center {
  @apply flex items-center justify-center;
}

.card {
  @apply bg-charcoal rounded-lg shadow-[0_6px_12px_rgba(0,0,0,0.1)];
}

.card-blacki {
  @apply shadow-blacki-glow bg-blacki rounded-lg;
}
.flex-center {
  @apply flex items-center justify-center;
}

/* Typewriter once */
/* source: https://css-tricks.com/snippets/css/typewriter-effect/   */

.typewriter-once {
  overflow: hidden;
  border-right: 0.15em solid var(--color-star);
  letter-spacing: 0.15em;
  white-space: nowrap;
  margin-right: auto;
  margin-left: auto;

  animation:
    typing-once 3.5s steps(35, end),
    blink-caret 0.5s step-end infinite;
}

@keyframes typing-once {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* @keyframes throb {
  to {
    transform: scale(1.125);
  }
} */

.shortcut-key:hover .tooltip {
  opacity: 1;
  pointer-events: initial;
}

.shortcut-key:hover .tooltip.top {
  bottom: 1.75rem;
}
.shortcut-key:hover .tooltip.bottom {
  top: 1.75rem;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate-angle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.gradient-to-top-charcoal {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 45%,
    var(--color-charcoal) 100%
  );
}

@media (width < 1024px) {
  .shortcut-key {
    @apply hidden;
  }
}

@media (width >= 1024px) {
  /* .scale-box {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
  }

  .scale-box.show {
    opacity: 1;
    pointer-events: auto;
  } */

  #main-screen {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    /* scale: 0; */
    /* transform: translateY(-20px); */
  }

  #main-screen.show {
    opacity: 1;
    pointer-events: auto;
    /* transform: translateY(0); */
    /* scale: 1; */
  }
}
