/* `.carousel` elements
 * -------------------------------------------------------------------------*/

.carousel {
  anchor-name: --carousel;
  container-type: inline-size;

  /* scroll styles */
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &:focus-visible {
    scrollbar-color: var(--color-star) transparent;
    outline: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

.carousel__slide {
  scroll-snap-align: start;

  :where(.carousel--offscreen-inert) & {
    animation: offscreen-inert linear both;
    animation-timeline: view(x);
  }

  :where(.carousel--unsnapped-inert) & {
    animation: offscreen-inert linear both;
    animation-timeline: view(x);
  }

  :where(.carousel--unsnapped-inert) & {
    container-type: scroll-state;

    & > * {
      @container not scroll-state(snapped) {
        interactivity: inert;
      }
    }
  }
}

/* `.carousel` states
 * -------------------------------------------------------------------------*/

/* .carousel--vertical {
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

.carousel--bidi {
  overflow: auto;
  overscroll-behavior: contain;
  scroll-snap-type: both mandatory;
} */

.carousel--scroll-markers {
  scroll-marker-group: before;

  &::scroll-marker-group {
    position: absolute;
    position-anchor: --carousel;

    container: marker-group / inline-size;

    display: grid;
    gap: 0.5rem;
    place-content: safe center;
    box-sizing: border-box;
    border-radius: 1e5px;

    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  &:where(:not(.carousel--vertical), .carousel--bidi)::scroll-marker-group {
    inline-size: 100%;
    max-inline-size: min(90cqi, 210px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    padding: 5px 10px; /* space for focus and scroll */
    scroll-padding-inline: 10px;
    mask: linear-gradient(
      to right,
      transparent 0,
      black 10px,
      black calc(100% - 10px),
      transparent 100%
    );

    top: anchor(bottom);
    left: calc(anchor(left) - 10%);
    right: calc(anchor(right) - 10%);
    margin-block: 1rem;

    grid-auto-columns: 1rem;
    grid-auto-flow: column;
    justify-self: center;
  }

  &:where(.carousel--vertical)::scroll-marker-group {
    position-area: left center;

    margin-inline: 1rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    inline-size: 1.5rem;
    block-size: 80cqb;
    max-block-size: min(50cqb, 210px);

    grid-auto-rows: 1rem;
    grid-auto-flow: row;

    padding-block: 10px; /* space for mask */
    padding-inline: 0;
    scroll-padding-block: 10px;
    mask: linear-gradient(
      to bottom,
      transparent 0,
      black 10px,
      black calc(100% - 10px),
      transparent 100%
    );
  }

  .carousel__slide {
    &::scroll-marker {
      content: "" / attr(data-label);
      scroll-snap-align: center;
      aspect-ratio: 1;
      border: 1px solid light-dark(#868e96, #868e96);
      border-radius: 1e5px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition:
        transform 0.3s
          linear(
            0,
            0.007,
            0.029 2.2%,
            0.118 4.7%,
            0.625 14.4%,
            0.826 19%,
            0.902,
            0.962,
            1.008 26.1%,
            1.041 28.7%,
            1.064 32.1%,
            1.07 36%,
            1.061 40.5%,
            1.015 53.4%,
            0.999 61.6%,
            0.995 71.2%,
            1
          ),
        outline-offset 0.25s cubic-bezier(0.25, 0, 0.3, 1);
      animation: scale-in-and-out linear both;
      animation-timeline: view(x);

      /* todo: remove once marker `interactivity` is inherited from `::scroll-marker-group` */
      interactivity: auto;
    }

    &::scroll-marker:target-current {
      background: var(--color-star);
      border-color: var(--color-star);
    }

    @media (forced-colors: active) {
      &::scroll-marker:target-current {
        background: Highlight;
        border-color: Highlight;
      }
    }

    &::scroll-marker:not(:active):hover {
      transform: scale(1.25);
    }

    /* todo: switch backt of focus-visible */
    &::scroll-marker:not(:active):focus {
      outline: 2px solid var(--color-star);
      outline-offset: 2px;
    }

    :where(.carousel--vertical) &::scroll-marker {
      animation-timeline: view(y);
    }
  }
}

/* TODO:
  up, down
  use scroll-state(scrollable) to auto generate buttons */
.carousel--scroll-buttons {
  &::scroll-button(*) {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    position: absolute;
    z-index: 1;
    position-anchor: --carousel;

    /* font-size: 1.25rem;
    inline-size: 44px;
    margin: 1rem; */
    width: 40px;
    height: 40px;

    /* font-family: "Material Symbols Outlined";
    line-height: 1;
    font-variation-settings:
      "FILL" 0,
      "wght" 100,
      "GRAD" 0,
      "opsz" 24; */

    display: flex;
    place-items: center;
    place-content: center;
    aspect-ratio: 1;
    background: none;
    border: 1px solid #495057;
    border-radius: 1e5px;

    transition:
      transform 0.3s
        linear(
          0,
          0.009,
          0.035 2.1%,
          0.141 4.4%,
          0.723 12.9%,
          0.938 16.7%,
          1.017,
          1.077,
          1.121,
          1.149 24.3%,
          1.159,
          1.163,
          1.161,
          1.154 29.9%,
          1.129 32.8%,
          1.051 39.6%,
          1.017 43.1%,
          0.991,
          0.977 51%,
          0.974 53.8%,
          0.975 57.1%,
          0.997 69.8%,
          1.003 76.9%,
          1
        ),
      opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1),
      background-color 0.3s cubic-bezier(0.25, 0, 0.3, 1),
      outline-offset 0.25s cubic-bezier(0.25, 0, 0.3, 1);

    @media (forced-colors: active) {
      background: Canvas;
    }
  }

  &:where(:not(.carousel--vertical), .carousel--bidi) {
    &::scroll-button(right) {
      --_inner: center span-inline-start;
      --_inner-under: block-end span-inline-start;
      --_inner-over: block-start span-inline-start;
      --_outer: inline-end center;
      --_outer-under: end;
      --_outer-over: block-start inline-end;

      position-area: var(--_outer);
      /* content: "arrow_forward" / "Scroll Right"; */
      content: url("/src/assets/icon/next.svg");
    }
    &::scroll-button(left) {
      --_inner: center span-inline-end;
      --_inner-under: block-end span-inline-end;
      --_inner-over: block-start span-inline-end;
      --_outer: inline-start center;
      --_outer-under: block-end inline-start;
      --_outer-over: start;

      position-area: var(--_outer);
      content: url("/src/assets/icon/prev.svg");
    }

    /* 120px is both arrows plus their margins */
    /* inner arrows when carousel is reaching full width of viewport or container */
    @container (inline-size >= calc(100cqi - 120px)) {
      &::scroll-button(right),
      &::scroll-button(left) {
        position-area: var(--_inner);
      }
    }
  }

  &:where(.carousel--vertical, .carousel--bidi) {
    &::scroll-button(down) {
      --_inner: center span-block-start;
      --_inner-under: block-end span-inline-end;
      --_inner-over: span-block-start span-inline-end;
      --_outer: block-end;
      --_outer-under: inline-start span-block-start;
      --_outer-over: inline-start block-end;

      position-area: var(--_outer);
      content: "arrow_downward" / "Scroll Down";
    }
    &::scroll-button(up) {
      --_inner: center span-block-end;
      --_inner-under: span-inline-end block-start;
      --_inner-over: span-inline-end span-block-end;
      --_outer: block-start;
      --_outer-under: inline-start span-block-end;
      --_outer-over: block-start inline-start;

      position-area: var(--_outer);
      content: "arrow_upward" / "Scroll Up";
    }

    /* 120px is both arrows plus their margins */
    /* inner arrows when carousel is reaching full height of viewport or container */
    @container (block-size >= calc(100cqb - 120px)) {
      &::scroll-button(up),
      &::scroll-button(down) {
        position-area: var(--_inner);
      }
    }
  }

  &::scroll-button(*):not(:disabled):is(:hover, :focus-visible) {
    background-color: light-dark(white, #212529);
    border-color: #868e96;
    font-variation-settings: "opsz" 30;
    transform: scale(1.1);
  }

  &::scroll-button(*):not(:active):focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--color-star);
  }

  &::scroll-button(right):not(:disabled):active {
    transform: translateX(5px) scale(0.95);
  }
  &::scroll-button(left):not(:disabled):active {
    transform: translateX(-5px) scale(0.95);
  }
  &::scroll-button(up):not(:disabled):active {
    transform: translateY(-5px) scale(0.95);
  }
  &::scroll-button(down):not(:disabled):active {
    transform: translateY(5px) scale(0.95);
  }

  &::scroll-button(*):disabled {
    /* opacity: 25%;
    cursor: not-allowed; */
    opacity: 0;
  }
}

/* `.carousel` animations
 * -------------------------------------------------------------------------*/

@keyframes scale-in-and-out {
  entry 0% {
    transform: scale(0.25);
  }
  entry 100% {
    transform: scale(1);
  }

  exit 0% {
    transform: scale(1);
  }
  exit 100% {
    transform: scale(0.25);
  }
}

@keyframes offscreen-inert {
  entry 0%,
  exit 100% {
    interactivity: inert;
  }
  entry 100%,
  exit 0% {
    interactivity: auto;
  }
}
