---
import "@/styles/main.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import Square from "./Square.astro";
import ScrollToTop from "../ScrollToTop.astro";
const { title = "Mhd Afif - Home" } = Astro.props;
const isDev = import.meta.env.MODE === "development";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Muhammad Afif - Frontend Developer Portfolio" />
    <meta
      name="description"
      content="Frontend Developer with 6+ years of experience building scalable, high-performance web applications using React, Vue, Astro and other modern technologies. Explore my projects and professional journey."
    />

    <!-- Additional SEO -->
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Muhammad Afif" />
    <meta
      name="keywords"
      content="Frontend Developer, Web Developer, React Developer, Vue Developer, Portfolio, JavaScript, TypeScript, Next.js, Remix, Astro, Vite, Web Development, UI Developer, Indonesia Developer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    {!isDev && <SpeedInsights />}
  </head>
  <body
    class="dark:bg-blacki bg-off-white dark:text-off-white text-black transition-all"
  >
    <div class="relative flex h-dvh flex-col">
      <Square />
      <div
        class="laptop:h-full relative container mx-auto flex h-auto place-content-center place-items-center"
      >
        <slot />
      </div>

      <ScrollToTop isOnePage />
    </div>
  </body>
</html>
