---
import "@/styles/main.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import Square from "./Square.astro";
import ScrollToTop from "../ScrollToTop.astro";
const { title = "Mhd Afif" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SpeedInsights />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="dark:bg-blacki bg-off-white dark:text-off-white text-black transition-all"
  >
    <main class="relative flex h-dvh flex-col">
      <Square />
      <div
        class="laptop:h-full relative container mx-auto h-auto place-content-center place-items-center"
      >
        <slot />
      </div>

      <ScrollToTop isOnePage />
    </main>
  </body>
</html>
