---

---

<p class="bouncing-text-regular">Bouncing Text</p>
<!-- <div class="bg-[#a855f7] p-8 rounded-lg"> -->
  <h1 class="bouncing-text-2">
    <span>H</span>
    <span>e</span>
    <span>l</span>
    <span>l</span>
    <span>o</span>
    <span>!</span>
  </h1>
<!-- </div> -->

<style is:inline lang="scss">
  .bouncing-text-regular {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-off-white);
    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .bouncing-text-2 {
    span {
      text-transform: uppercase;
      position: relative;
      top: 15px;
      color: var(--color-off-white);
      font-size: 4rem;
      text-shadow:
        0 1px 0 #b7b7b7,
        0 2px 0 #b7b7b7,
        0 3px 0 #b7b7b7,
        0 4px 0 #b7b7b7,
        0 5px 0 #b7b7b7,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, 0.5);

      animation: bounce-2 0.7s ease infinite alternate;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
    }
  }
  @keyframes bounce-2 {
    100% {
      top: -15px;
      text-shadow:
        0 1px 0 #ccc,
        0 2px 0 #ccc,
        0 3px 0 #ccc,
        0 4px 0 #ccc,
        0 5px 0 #ccc,
        0 6px 0 #ccc,
        0 7px 0 #ccc,
        0 8px 0 #ccc,
        0 9px 0 #ccc,
        0 60px 30px rgba(0, 0, 0, 0.5);
    }
  }
</style>
