---
import { Icon } from "astro-icon/components";
---

<div
  class="orbit-wrapper relative mx-auto h-32 w-32 rounded-full border border-dashed border-white/50"
>
  <Icon
    name="devicon:html5"
    class="orbit-icon absolute top-1/2 left-1/2 h-8 w-8 grayscale-100 transition-all duration-500 hover:grayscale-0"
    style="--duration: 20; --radius: 60; --delay: -10;"
  />
  <Icon
    name="devicon:css3"
    class="orbit-icon absolute top-1/2 left-1/2 h-8 w-8 grayscale-100 transition-all duration-500 hover:grayscale-0"
    style="--duration: 20; --radius: 60; --delay: -20;"
  />
</div>

<style>
  .orbit-icon {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-4rem) rotate(0deg);
    transform-origin: center center;
    animation: orbit calc(var(--duration) * 1s) linear infinite;
    /* animation:
      throb 1s linear infinite alternate,
      orbit calc(var(--duration) * 1s) linear infinite; */
    animation-delay: calc(var(--delay) * 1s);
    animation-play-state: running;
    transition: all 0.7s;
  }

  /* Keyframes for rotation */
  @keyframes orbit {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translateY(-4rem)
        rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg) translateY(-4rem)
        rotate(-360deg);
    }
  }

  /* @keyframes throb {
    100% {
      scale: 1.05;
    }
  } */

  /* Use :has to pause ALL orbit-icons when one is hovered */
  .orbit-wrapper:has(.orbit-icon:hover) .orbit-icon {
    animation-play-state: paused;
  }
</style>
