---
import Layout from "@/components/Layout/Layout.astro";
import MenuMini from "@/components/Menu/MenuMini.astro";
import Profile from "@/components/Profile.astro";
import Education from "@/modules/About/Education.astro";
import Introduction from "@/modules/About/Introduction.astro";
import Skills from "@/modules/About/Skills.astro";
import Testimony from "@/modules/About/Testimony.astro";
---

<Layout title="About">
  <div class="w-full grid laptop:grid-cols-3 laptop:gap-5">
    <div class="h-fit col-span-1 space-y-5 laptop:sticky top-5 overflow-hidden">
      <div class="hidden laptop:block">
        <MenuMini />
      </div>

      <Profile />
    </div>

    <div class="col-span-1 laptop:col-span-2 space-y-5">
      <Introduction />
      <Skills />
      <Education />
      <Testimony />
    </div>
  </div>
</Layout>

<style></style>
