---
import BorderRotating from "@/components/css-component/BorderRotating.astro";
import BouncingText from "@/components/css-component/BouncingText.astro";
import FlipFlop from "@/components/css-component/FlipFlop.astro";
import Layer from "@/components/css-component/Layer.astro";
import Layout from "@/components/Layout/Layout.astro";
---

<Layout>
  <div>
    <div class="grid laptop:grid-cols-4 gap-4">
      <div class="card place-content-start place-items-center">
        <h2 class="text-2xl font-semibold text-off-white mb-6">
          Border Rotating
        </h2>
        <BorderRotating />
      </div>

      <div class="card place-content-start place-items-center">
        <h2 class="text-2xl font-semibold text-off-white mb-6">
          Bouncing Text
        </h2>
        <BouncingText />
      </div>

      <div class="card place-content-start place-items-center">
        <h2 class="text-2xl font-semibold text-off-white mb-6">
          Flip Flop
        </h2>
        <FlipFlop />
      </div>
      
      <div class="card place-content-start place-items-center">
        <h2 class="text-2xl font-semibold text-off-white mb-16">
          Layer
        </h2>
        <Layer />
      </div>
    </div>
  </div>
</Layout>
