---
import BorderRotating from "@/components/css-component/BorderRotating.astro";
import BorderRotating2 from "@/components/css-component/BorderRotating2.astro";
import BouncingText from "@/components/css-component/BouncingText.astro";
import CardTooltip from "@/components/css-component/CardTooltip.astro";
import ClipPath from "@/components/css-component/ClipPath.astro";
import FlipFlop from "@/components/css-component/FlipFlop.astro";
import Layer from "@/components/css-component/Layer.astro";
import RandomText from "@/components/css-component/RandomText.astro";
import Rotate from "@/components/css-component/Rotate2.astro";
import TypeWriter from "@/components/css-component/TypeWriter.astro";
import TypeWriter2 from "@/components/css-component/TypeWriter2.astro";
import Layout from "@/components/Layout/Layout.astro";
---

<Layout>
  <div>
    <div class="laptop:grid-cols-4 grid gap-4">
      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-6 text-2xl font-semibold">
          Border Rotating
        </h2>
        <BorderRotating />
      </div>
      <div class="card z-[-1] place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-6 text-2xl font-semibold">
          Border Rotating 2
        </h2>
        <BorderRotating2 />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-6 text-2xl font-semibold">
          Bouncing Text
        </h2>
        <BouncingText />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-6 text-2xl font-semibold">Flip Flop</h2>
        <FlipFlop />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">Layer</h2>
        <Layer />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">Random Text</h2>
        <RandomText />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">
          Typewriter Text
        </h2>
        <TypeWriter />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">
          Typewriter 2 Text
        </h2>
        <TypeWriter2 />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">Rotate</h2>
        <Rotate />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">Clip Path</h2>
        <ClipPath />
      </div>

      <div class="card place-content-start place-items-center px-6 py-4">
        <h2 class="text-off-white mb-16 text-2xl font-semibold">
          Card Tooltip
        </h2>
        <CardTooltip />
      </div>
    </div>
  </div>
</Layout>
