---
import Layout from "@/components/Layout/Layout.astro";
import MenuMini from "@/components/Menu/MenuMini.astro";
import Profile from "@/components/Profile.astro";
import Company from "@/modules/Home/Company.astro";
import Introduction from "@/modules/Home/Introduction.astro";
---

<Layout title="Home">
  <div class="w-full grid laptop:grid-cols-3 gap-0 laptop:gap-5">
    <section class="h-fit col-span-1 space-y-5 laptop:sticky top-5 overflow-hidden">
      <div class="hidden laptop:block">
        <MenuMini />
      </div>

      <Profile />
    </section>

    <section class="col-span-1 laptop:col-span-2 space-y-5">
      <Introduction />
      <Company />
    </section>
  </div>
</Layout>
