---
import Layout from "@/components/Layout/Layout.astro";
import MenuMini from "@/components/Menu/MenuMini.astro";
import Profile from "@/components/Profile.astro";
import Company from "@/modules/Home/Company.astro";
import Introduction from "@/modules/Home/Introduction.astro";
---

<Layout title="Home">
  <div class="laptop:grid-cols-3 laptop:gap-5 grid w-full gap-0">
    <section
      class="laptop:sticky top-5 col-span-1 h-fit space-y-5 overflow-hidden"
    >
      <div class="laptop:block hidden">
        <MenuMini />
      </div>

      <Profile />
    </section>

    <section class="laptop:col-span-2 col-span-1 space-y-5">
      <Introduction />
      <Company />
    </section>
  </div>
</Layout>
