---
import Layout from "@/components/Layout/Layout-one-page.astro";
import Language from "@/modules/OnePage/LeftSection/Language.astro";
import LeftSection from "@/modules/OnePage/LeftSection/LeftSection.astro";
import Location from "@/modules/OnePage/MiddleSection/Location.astro";
import MiddleSection from "@/modules/OnePage/MiddleSection/MiddleSection.astro";
import RightSection from "@/modules/OnePage/RightSection/RightSection.astro";
import Footer from "@/modules/OnePage/Footer.astro";
import Settings from "@/modules/OnePage/Settings.astro";
import Freelance from "@/modules/OnePage/Freelance.astro";
---

<Layout title="Home">
  <div
    class="laptop:bg-charcoal rounded-10 laptop:shadow-blacki-glow border-blacki laptop:p-8 laptop:pb-12 laptop:max-w-[72rem] relative z-[2] w-full laptop:border-2 border-solid px-4 py-5"
  >
    <div
      class="laptop:grid laptop:grid-cols-10 flex flex-col gap-3 mb-3 laptop:mb-0"
    >
      <div class="laptop:order-0 order-1 col-span-3">
        <LeftSection />
      </div>
      <div class="laptop:order-1 order-0 col-span-4">
        <MiddleSection />
      </div>
      <div class="laptop:order-3 order-3 col-span-3">
        <RightSection />
      </div>
    </div>
    <div class="block laptop:hidden space-y-3">
      <Language />
      <Location />
    </div>

    <Freelance />
    <Settings />
    <Footer />
  </div>
</Layout>

<style lang="scss"></style>
