---
import Layout from "@/components/Layout/Layout-one-page.astro";
import LeftSection from "@/modules/OnePage/LeftSection/LeftSection.astro";
import MiddleSection from "@/modules/OnePage/MiddleSection/MiddleSection.astro";
import RightSection from "@/modules/OnePage/RightSection/RightSection.astro";
---

<Layout title="Home">
  <div
    class="laptop:bg-charcoal rounded-10 shadow-blacki-glow border-blacki laptop:p-8 relative z-[2] aspect-video w-full laptop:max-w-[72rem] border-2 border-solid px-4 py-5"
  >
    <div class="laptop:grid laptop:grid-cols-10 flex flex-col gap-3">
      <div class="laptop:order-0 order-1 col-span-3">
        <LeftSection />
      </div>
      <div class="laptop:order-1 order-0 col-span-4">
        <MiddleSection />
      </div>
      <div class="laptop:order-3 order-3 col-span-3">
        <RightSection />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss"></style>
