---
import Layout from "@/components/Layout/Layout.astro";
import MenuMini from "@/components/Menu/MenuMini.astro";
import Profile from "@/components/Profile.astro";
import ConstructionIcon from "@/assets/icon/construction.svg";
---

<Layout title="Portofolio">
  <div class="laptop:grid-cols-3 grid w-full gap-5">
    <div class="laptop:sticky top-5 col-span-1 h-fit space-y-5 overflow-hidden">
      <div class="laptop:block hidden">
        <MenuMini />
      </div>

      <Profile />
    </div>

    <div class="laptop:col-span-2 flex-center col-span-1 space-y-5">
      <div class="flex flex-col gap-5">
        <ConstructionIcon class="text-star mx-auto inline-block h-28 w-28" />
        <h1 class="typewriter-once text-center text-3xl font-bold capitalize">
          under maintenance!
        </h1>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .typewriter-once {
    animation:
      typing-once 2s steps(20, end),
      blink-caret 0.5s step-end infinite;
  }
</style>

<!-- Source typewritter: https://css-tricks.com/snippets/css/typewriter-effect/ -->
