---
// import { Icon } from "astro-icon/components";
const educations = [
  {
    school: "Telkom University",
    degree: "Bachelor of Computer Science",
    startYear: "2012",
    endYear: "2018",
  },
];
---

<div class="card laptop:!px-8 laptop:!py-6 space-y-8">
  <p class="font-bold text-2xl capitalize">
    <span>My</span>
    <span class="text-star">Education </span>
    <!-- <Icon name="ic:round-school" class="inline-block text-star w-7 h-7" /> -->
  </p>
  <div
    class="education-container border-l-[3px] border-solid border-off-white/50"
  >
    {
      educations.map((item) => (
        <div class="education-item flex flex-col laptop:flex-row flex-wrap mt-8">
          <div class="education-date self-start laptop:flex-[0_0_8rem] laptop:max-w-32 pl-8 laptop:pl-5 relative laptop:mt-[1px]">
            <h6 class="text-off-white/50 font-medium">
              {item.startYear} - {item.endYear}
            </h6>
          </div>
          <div class="education-detail relative pl-8 laptop:pl-9">
            <h3 class="mb-0 font-bold text-xl text-star">{item.degree}</h3>
            <h4 class="text-off-white font-semibold">{item.school}</h4>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style is:inline lang="scss">
  .education-container {
    .education-item {
      .education-date {
        &::before {
          content: "";
          position: absolute;
          left: -9px;
          top: 5px;
          height: 15px;
          width: 15px;
          border-radius: 100%;
          background: #1e293b;
          border: 3px solid var(--color-star);
        }
      }

      .education-detail {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          height: 2px;
          width: 24px;
          background: rgb(250, 249, 246, 0.5);

          @media (width < 768px) {
            width: 20px;
          }
        }
      }
    }
  }
</style>
