---
import { Icon } from "astro-icon/components";
const educations = [
  {
    school: "Telkom University",
    degree: "Bachelor of Computer Science",
    startYear: "2012",
    endYear: "2018",
  },
];
---

<div class="card laptop:!px-8 laptop:!py-6 space-y-8">
  <p class="font-bold text-2xl capitalize">
    <span>My</span>
    <span class="text-star">Education </span>
    <Icon name="ic:round-school" class="inline-block text-star w-7 h-7" />
  </p>
  <div class="resume-container border-l-[3px] border-solid border-off-white/50">
    {
      educations.map((item) => (
        <div class="resume-item flex flex-col laptop:flex-row flex-wrap mt-8">
          <div class="resume-date self-start laptop:flex-[0_0_8rem] laptop:max-w-32 pl-8 laptop:pl-5 relative laptop:mt-[1px]">
            <h6 class="text-off-white/50 font-medium">
              {item.startYear} - {item.endYear}
            </h6>
          </div>
          <div class="resume-detail relative pl-8 laptop:pl-9">
            <p class="mb-0 font-bold text-xl text-star">{item.degree}</p>
            <p class="text-off-white font-semibold">{item.school}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script></script>

<style is:inline lang="scss">
  .resume-container {
    // border-left: 3px solid rgb(250, 249, 246, 0.5);

    .resume-item {
      // display: flex;
      // margin-top: 30px;
      // flex-wrap: wrap;
      // @media (width < 768) {
      //   flex-direction: column;
      // }

      .resume-date {
        // @media (width < 768) {
        //   flex: "0 0 0";
        // }
        // align-self: flex-start;
        // flex: 0 0 128px;
        // max-width: 128px;
        // padding-left: 20px;
        // position: relative;

        &::before {
          content: "";
          position: absolute;
          left: -9px;
          top: 5px;
          height: 15px;
          width: 15px;
          border-radius: 100%;
          background: #1e293b;
          border: 3px solid rgb(250, 249, 246, 0.5);
        }

        .resume-date-year {
          // color: gray;
          // margin-bottom: 0;
        }
      }

      .resume-detail {
        // position: relative;
        // padding-left: 36px;
        // @media (width < 768) {
        //   padding-left: 30px;
        // }
        &::before {
          @media (width < 768) {
            width: 20px;
          }
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          height: 2px;
          width: 24px;
          background: rgb(250, 249, 246, 0.5);
        }
        // h5 {
        //   color: blue;
        //   margin-bottom: 0;
        //   font-weight: bold;
        // }
        // .resume-detail-company {
        //   color: white;
        // }
        // p {
        //   margin-bottom: 0;
        // }
        // ul {
        //   margin-bottom: 0;
        //   margin-left: 18px;
        //   list-style: none;
        //   position: relative;

        //   li {
        //     &::before {
        //       content: "";
        //       position: absolute;
        //       margin: 7px 7px 0 0;
        //       right: 100%;
        //       height: 10px;
        //       width: 10px;
        //       border-color: transparent transparent transparent blue;
        //       border-style: solid;
        //       border-width: 5px;
        //     }
        //   }
        // }
      }
    }
  }
</style>
