---

---

<footer
  class="laptop:absolute bottom-0 left-0 w-full text-center px-6 flex items-center justify-between flex-col laptop:flex-row gap-2 relative"
>
  <p class="text-sm text-off-white/50 z-[2] bg-blacki border border-solid border-charcoal p-2">
    &copy; 2025 <span class="dark:text-star font-medium">Mhd Afif</span>. All
    rights reserved.
  </p>
  <p
    class="text-sm text-off-white/50 z-[2] bg-blacki border border-solid border-charcoal p-2"
  >
    Made with <span class="text-red-500">&hearts;</span> using Astro
  </p>
</footer>

<style></style>
