---
import Tooltip from "@/components/Tooltip.astro";
---

<div
  class="shortcut-key hidden laptop:flex items-center justify-center absolute left-1/2 -translate-x-1/2 bottom-2.5 border-2 border-solid border-star rounded-full p-0.5 group"
>
  <div
    class="bg-star relative w-5 h5 border border-solid border-star aspect-square cursor-default rounded-full group-hover:animate-pulse duration-500 ease-out"
  >
  </div>
  <Tooltip content="Available for Freelance" />
</div>
