---
import { Icon } from "astro-icon/components";
---

<div
  class="card-blacki border-off-white/10 group flex items-center justify-between gap-2 border border-solid px-4 py-4"
>
  <Icon
    name="ic:baseline-my-location"
    class="text-star text-lg group-hover:animate-pulse"
  />
  <div class="flex text-end">
    <a
      href="https://maps.app.goo.gl/BbAqW3SQMJSamBQ19"
      target="_blank"
      class="hover:text-star transition-colors duration-500 ease-out"
    >
      Cimahi
    </a>
    <span>, Indonesia</span>
  </div>
</div>
