---
import Location from "./Location.astro";
import Experience from "./Experience.astro";
import Others from "./Others.astro";
---

<section class="flex flex-col gap-3">
  <div class="laptop:h-[478px] laptop:grid flex grid-rows-5 flex-col gap-3">
    <div class="row-span-3">
      <Experience />
    </div>
    <div class="row-span-2">
      <Others />
    </div>
  </div>
  <div class="laptop:block hidden">
    <Location />
  </div>
</section>
