---
import Modal from "@/components/Modal.astro";
import Tooltip from "@/components/Tooltip.astro";
import Education from "./ModalContent/Education.astro";
import Introduction from "./ModalContent/Introduction.astro";
import Testimony from "./ModalContent/Testimony.astro";
import { Icon } from "astro-icon/components";
const items = ["About", "Education", "Feedback"];
---

<div
  class="about-container card-blacki border-off-white/10 relative rounded-lg border border-solid p-4"
>
  <div
    class="shortcut-key laptop:flex text-blacki outline-charcoal group absolute top-0 right-0 z-[1] hidden aspect-square w-7 items-center justify-center rounded-tr-lg rounded-bl-lg outline-4 outline-solid"
  >
    <div
      class="bg-star relative h-full w-full cursor-default rounded-tr-lg rounded-bl-lg text-center text-lg font-semibold transition-all duration-500 ease-out group-hover:opacity-70"
    >
      1
    </div>
    <Tooltip content="Shortcut : 1" />
  </div>

  <div class="about-items relative flex flex-col gap-8">
    {
      items.map((item) => (
        <div class="about-item relative">
          <span class="hover:text-star bg-blacki relative cursor-default text-lg font-semibold transition-all duration-300 ease-out">
            {item}
          </span>
          <div class="line" />
        </div>
      ))
    }
    <button
      id="more-about"
      class="group absolute right-0 bottom-[-1.5px] flex cursor-pointer justify-center outline-none"
    >
      <Icon
        name="ic:baseline-open-in-new"
        class="text-star relative h-8 w-8 transition-all duration-100 ease-out group-hover:animate-pulse"
      />
    </button>
  </div>
</div>

<!-- Modal About -->
<Modal title="About" modalId="modal-about">
  <Introduction />
  <Education />
  <Testimony />
</Modal>

<script>
  const modalAbout = document.getElementById("modal-about");
  const moreAbout = document.getElementById("more-about");
  const closeBtn = document.getElementById("modal-about-close");
  const scrollToTop = document.getElementById("scrollToTop");
  const modalContainer = modalAbout.querySelector(".modal-container");

  function handleOpenModal(isOpen: boolean) {
    const anyModalOpen = document.querySelector(".modal.modal-open");
    const powerOff = window.sessionStorage.getItem("power") === "off";
    if (powerOff || (isOpen && anyModalOpen && anyModalOpen !== modalAbout)) {
      return;
    }

    if (isOpen) {
      modalAbout.classList.add("modal-open");
      scrollToTop.classList.add("hidden");
      document.body.style.overflow = "hidden";
    } else {
      modalContainer.scrollTo({ top: 0, behavior: "smooth" });
      modalAbout.classList.remove("modal-open");
      scrollToTop.classList.remove("hidden");
      if (!document.querySelector(".modal.modal-open")) {
        document.body.style.overflow = "";
      }
    }
  }

  addEventListener("keydown", (event) => {
    if (event.key === "1") {
      handleOpenModal(true);
    }
    if (event.key === "Escape") {
      handleOpenModal(false);
    }
  });
  moreAbout.addEventListener("click", () => {
    handleOpenModal(true);
  });
  closeBtn.addEventListener("click", () => {
    handleOpenModal(false);
  });
  modalAbout.addEventListener("click", (event: any) => {
    if (modalAbout.classList.contains("modal-open")) {
      if (!modalContainer.contains(event.target)) {
        handleOpenModal(false);
      }
    }
  });
</script>

<style lang="scss">
  .about-container {
    .about-item {
      span {
        z-index: 1;
      }
      &:nth-child(odd) {
        span {
          border-right: 4px solid rgba(250, 249, 246, 0.1);
          padding-right: 0.5rem;
        }
      }
      &:nth-child(even) {
        text-align: end;
        span {
          border-left: 4px solid rgba(250, 249, 246, 0.1);
          padding-left: 0.5rem;
        }
      }
      .line {
        &::after {
          content: "";
          top: 11.5px;
          height: calc(100% + 1rem);
          position: absolute;
          border-width: 4px;
          border-style: dashed;
          border-color: rgba(250, 249, 246, 0.1);
          transition: all 0.3s ease-out;
        }
      }
      &:nth-child(1) {
        .line {
          &::after {
            left: 64px;
            border-left: 0;
            border-bottom: 0;
            border-top-right-radius: 4px;
            width: calc(100% - 64px - 40px);
          }
        }
      }
      &:nth-child(2) {
        .line {
          &::after {
            right: 97px;
            border-right: 0;
            border-bottom: 0;
            border-top-left-radius: 4px;
            width: calc(100% - 97px - 36px);
          }
        }
      }
      &:nth-child(3) {
        .line {
          &::after {
            left: 84px;
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
            width: calc(100% - 84px - 36px);
          }
        }
      }
      &:hover {
        span {
          border-color: var(--color-star);
        }
        > .line::after {
          border-color: rgba(250, 249, 246, 0.8);
        }
      }
    }
  }
</style>
