---
import About from "./About.astro";
import Language from "./Language.astro";
import Stack from "./Stack.astro";
---

<div class="flex flex-col gap-3">
  <div class="laptop:h-[478px] laptop:grid flex grid-rows-5 flex-col gap-3">
    <div class="row-span-2">
      <About />
    </div>
    <div class="row-span-3">
      <Stack />
    </div>
  </div>
  <div class="laptop:block hidden">
    <Language />
  </div>
</div>

<style lang="scss"></style>
