---
const educations = [
  {
    school: "Telkom University",
    degree: "Bachelor of Computer Science",
    startYear: "2012",
    endYear: "2018",
  },
];
---

<div class="card laptop:px-8 laptop:py-6 space-y-8 px-6 py-4">
  <p class="text-2xl font-bold capitalize">
    <span>My</span>
    <span class="text-star">Education </span>
  </p>
  <div
    class="education-container border-off-white/50 border-l-[3px] border-solid"
  >
    {
      educations.map((item) => (
        <div class="education-item laptop:flex-row mt-8 flex flex-col flex-wrap">
          <div class="education-date laptop:flex-[0_0_8rem] laptop:max-w-32 laptop:pl-5 laptop:mt-[1px] relative self-start pl-8">
            <h6 class="text-off-white/50 font-medium">
              {item.startYear} - {item.endYear}
            </h6>
          </div>
          <div class="education-detail laptop:pl-9 relative pl-8">
            <h3 class="text-star mb-0 text-xl font-bold">{item.degree}</h3>
            <h4 class="text-off-white font-semibold">{item.school}</h4>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style is:inline lang="scss">
  .education-container {
    .education-item {
      .education-date {
        &::before {
          content: "";
          position: absolute;
          left: -9px;
          top: 5px;
          height: 15px;
          width: 15px;
          border-radius: 100%;
          background: #1e293b;
          border: 3px solid var(--color-star);
        }
      }

      .education-detail {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          height: 2px;
          width: 24px;
          background: rgb(250, 249, 246, 0.5);

          @media (width < 768px) {
            width: 20px;
          }
        }
      }
    }
  }
</style>
