---
const getYearsOfExperience = () => {
  const startDate = new Date("2018-09-01");
  const currentDate = new Date();
  const years = currentDate.getFullYear() - startDate.getFullYear();
  const months = currentDate.getMonth() - startDate.getMonth();

  return months < 0 ? years - 1 : years;
};
const yearsOfExperience = getYearsOfExperience();
---

<div class="card laptop:px-8 laptop:py-6 px-6 py-4">
  <p class="text-off-white mb-8 text-2xl font-semibold capitalize">
    Hi, this is <span class="laptop:inline text-star block text-3xl"
      >Muhammad Afif</span
    >
  </p>
  <!-- <br class="text-off-white/70 text-lg font-medium" /> -->
  <p class="mb-4">
    A passionate and detail-oriented <span class="text-star">
      Frontend Developer
    </span> with <span class="text-star"> {yearsOfExperience}+ years</span> of experience
    specializing in building modern, scalable, and performant web applications. I
    have a strong foundation in JavaScript and TypeScript, and have worked extensively
    with frameworks like React, Vue, Next.js, and Remix to bring UI/UX designs to
    life in responsive, maintainable, and user-centric interfaces.
  </p>
  <p class="mb-4">
    In addition to frontend development, I`ve recently been learning and growing
    in areas like <span class="text-star"
      >backend development, CI/CD workflows, and AI-powered automation</span
    > , continuously sharpening my skills to better support end-to-end solutions
    and modern development practices. These additions help me understand the bigger
    picture and contribute more effectively across the stack.
  </p>
  <p class="mb-4">
    I thrive in collaborative environments that value clean code, knowledge
    sharing, and thoughtful architecture. I enjoy mentoring others, building
    shared tools like internal UI frameworks and boilerplates, and pushing for
    consistent, scalable frontend standards. My goal is always to create user
    experiences that are elegant, efficient, and a joy to interact with.
  </p>
</div>
